
.flexCenterBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexAlignCenter {
  display: flex;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}