.sidenav {
  min-height: 620px;
  height: 100%;
  width: 16.1rem;
  position: fixed;
  z-index: 1020;
  top: 0;
  left: 0;
  background: var(--white);
  border-right: 1px solid var(--white);
  // border-right: 1px solid var(--black-50);
  //   border-right: 1px solid var(--black-75);
  // background: linear-gradient(180deg, #3e27ad 0%, #5633ff 0.01%, #7659ff 100%);
  // background: linear-gradient(180deg, var(--primary-500) 0%, var(--primary-400) 0.01%, var(--primary-700) 100%);
  // overflow-x: hidden;
  padding-top: 2px;

  .nav-topspace {
    margin-top: 12px;
  }

  .border-bottom {
    border-color: rgba(0, 0, 0, 0.1) !important;
  }

  &.light {
    background: var(--black-25) !important;

    .text-muted {
      color: rgba(var(--black-rgb), 0.38) !important;
    }

    a {
      color: var(--black-800) !important;

      &.active {
        color: #01cc8f !important;
      }
    }

    .border-bottom {
      border-color: #e9ecef !important;
    }
  }

  .nav.collapsed {
    position: absolute;
    bottom: 12px;
    color: #fff;
  }

  &.sidenav-mini {
    background-color: var(--white);
    width: 4.266rem !important;

    &.expanded {
      background-color: #f5f8fa;
      box-shadow: 0px 4px 20px rgba(76, 87, 125, 0.02);
    }

    .logo {
      padding: 1rem 1.1rem;
    }
    .nav-link {
      padding: 1.25rem 1.21rem !important;
    }
    .nav-group {
      .icon-sm {
        display: block !important;
      }
    }
    .mt {
      display: none;
    }
  }
}

.sidenav {
  .nav-link {
    padding: 0.75rem 1.6rem;
    margin-bottom: 0.1rem;
    border-radius: 0;
    font-weight: 400;
    border-left: 3px solid transparent;
    color: var(--black-600);

    &:not(.no-hover-bg) {
      &:hover,
      &:focus {
        color: #01cc8f !important;
      }
    }

    &.active {
      color: #01cc8f !important;
    }
  }
  .icon {
    width: 2rem;
    display: block;
    float: left;

    &-sm {
      display: none;
      float: left;
    }
  }
}
.nav-link svg {
  margin-top: -2px !important;
}

.subname-app {
  font-weight: 400;
  line-height: 1;
}

// search workspace
input.search.form-control:focus {
  border: 1px solid var(--black-75, #ccc);
  box-shadow: none;
}

.sidenav-accordion {
  .accordion-item {
    border: none;
    background-color: transparent;
  }
  .accordion-button {
    font-weight: bold;
    background: transparent;
    &::after {
      width: 1rem;
      height: 1rem;
      background-size: 1rem;
    }
  }
  .accordion-button:focus {
    border-color: transparent;
    border: none !important;
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    color: var(--black);
    background-color: var(--white);
    box-shadow: none;
    border: none;
  }

  .accordion-body {
    padding: 0.35rem 1.25rem;
  }

  .sidenav-accordion {
    .accordion-button {
      padding: 0 !important;
    }

    .accordion-body {
      padding-left: 0.85rem !important;
    }

    .action-dropdown.dot.dropdown {
      padding-top: 1rem;
    }

    .nav-link {
      padding: 0.4rem 1rem;
      font-size: 0.9rem;

      &.active {
        border-color: transparent;
        background: transparent;
        color: var(--primary) !important;
      }
    }

    .accordion-button::after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAEAAAABACAYAAACqaXHeAAAABmJLR0QA/wD/AP+gvaeTAAABYklEQVR4nO3YMU4CQRgF4PePpVfwArbbeQLCAUQusNOoF8CaeACq3TmAEXrwBnZ03sAbiI3F/jYWZoMJMJt9Et5X/gn/vLyECQMgIiIiIiIiIqfGWAfHGB8A3AKAu89SSo+MHJQCyrIcm9nT75m736SU5n1nCX0fCAAhhMGW2ZCShXGou5/vMusDpYD/RAWwA7CpAHYANhXADsCmAtgB2Dp5C5RlOQ4hDPb4NXcF4KI1ewfwusuHzewTwEtVVc97xNy+K3dBjHECYJq75xDuPsl9RXbxFbjrYMdBzOw+d8ex3wFN7oLsAtx9lrvjUGaWfXZXl+AohDDs6xIEsAGwqut6sWvGv1D+EYoxzgFct8aLuq5HfWc59jsgmwpgB2BTAewAbCqAHYBNBbADsFEK+HnPt216DwJSAU3TrNozM1syspwxDl2v129FUXyZ2SWADzObVlWVGFlERERERERE5PR8A02iTxruGtxnAAAAAElFTkSuQmCC);
    }
    .accordion-button:not(.collapsed)::after {
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABmJLR0QA/wD/AP+gvaeTAAAAR0lEQVRoge3OsQ2AMAxFQZuxkFjHQ2WesBYwQQqslHf983cEAAAAAA3Ziarqjohz8y9zjHH9jY7m2NPsljLz3X0TAAAAgKUPBBcHBKQvPjYAAAAASUVORK5CYII=) !important;
    }
  }

  .flex-column.nav > div:hover,
  .accordion-header:hover {
    .action-dropdown {
      visibility: visible !important;
    }
  }

  .wsp-accordion:hover {
    .wsp-action {
      .action-dropdown {
        visibility: visible !important;
      }
    }
  }

  .action-dropdown {
    visibility: hidden;
    margin-right: -0.45rem;
  }
  .action-btn {
    min-width: 0;
    margin-top: -1.55rem !important;
  }
}

.nav-group {
  margin-top: 0.55rem;
  color: #44566c !important;

  &:hover {
    color: #44566c !important;
  }
}

@include media-breakpoint-down(sm) {
  .sub-header {
    padding-left: 0 !important;
  }
}

@include media-breakpoint-up(md) {
  .sidenav {
    display: block !important;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  // .sidenav a {
  //   font-size: 1rem;
  // }
}
