/* Color Palette */
$colors: (
	"darkblue": #5856d6,
	"deepblue": #007aff,
	"blue": #34aadc,
	"navy-blue": #000080,
	"lightblue": #5ac8fa,
	"green": #509839,
	"dark-green": #065a2f,
	"pink": #ff2d55,
	"red": #ea2727,
	"blood-red": #660000,
	"orange": #ff9500,
	"yellow": #ff9912,
	"grey": #8e8e93,
	"cyan": #00d1d1,
	"dark-cyan": #008b8b,
	"purple": #7700b8,
	"light-purple": #a700af,
	"dark-purple": #5500b7,
	"brown": #88540b
);

$app-colors: (
	"primary": map-get($colors, deepblue),
	"accent": map-get($colors, "orange"),
	"secondary": map-get($colors, "grey"),
	"error": map-get($colors, "red"),
	"warning": map-get($colors, "orange"),
	"success": map-get($colors, "green"),
	"info": "inherit",
	"light": (
		"foreground": (
			"lightest": #f9f9f9,
			"darkest": #f9f9f9
		),
		"background": (
			"lightest": #fff,
			"darkest": #fff
		),
		"text": #000,
		"text-secondary": #333333,
		"link": map-get($colors, deepblue),
		"nav": #696868,
		"nav-background": #fff,
		"shadow": map-get($colors, "grey"),
		"border": #eeeff4,
		"border-lightest": #f5f5f8,
		"modal": "#fff",
		"input": #fff,
		"card-body": #fff
	),
	"dark": (
		"foreground": (
			"lightest": #141a30,
			"darkest": #0e0e0e
		),
		"background": (
			"lightest": #1d1d1d,
			"darkest": #141414
		),
		"text": #fff,
		"text-secondary": #d2d2d6,
		"link": map-get($colors, "orange"),
		"nav": #757575,
		"nav-background": #0e0e0e,
		"shadow": map-get($colors, "grey"),
		"border": #1c1c1c,
		"border-lightest": #202020,
		"modal": #1c1c1c,
		"input": #2b2b2b,
		"card-body": #212121,
		"text-body": #d2d2d6
	)
);

/* LIGHT */
$app-colors-light: map-get($app-colors, light);
$app-colors-light-background: map-get($app-colors-light, background);
$app-colors-light-foreground: map-get($app-colors-light, foreground);

/* DARK */
$app-colors-dark: map-get($app-colors, dark);
$app-colors-dark-background: map-get($app-colors-dark, background);
$app-colors-dark-foreground: map-get($app-colors-dark, foreground);
