
@import "react-datepicker/dist/react-datepicker.css";

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
  display: none !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
  display: none !important;
}

.react-datepicker {
  border: 1px solid var(--black-100);
}

.react-datepicker__year-wrapper {
  max-width: 145px;
}

.react-datepicker__navigation-icon {
  top: 4px;
}

.react-datepicker__month-container {
  background-color: var(--black-10);
}

.react-datepicker__current-month {
  color: var(--black);
}

.react-datepicker-year-header {
  color: var(--black);
}
.react-datepicker__header {
  background-color: var(--black-100);
  border: 1px solid var(--black-100);
}

.react-datepicker__day-name {
  color: var(--black-700);
}

.react-datepicker__day {
  color: var(--black-600);
  &:hover {
    background-color: var(--black-100);
  }
}

.react-datepicker__day--selected, .react-datepicker__day--selected:hover {
  background-color: var(--primary);
  color: #fff !important;
}

.react-datepicker__year .react-datepicker__year-text {
  display: inline-block;
  width: 4rem;
  margin: 4px 2px;
  padding: 0.35rem;
}

.react-datepicker__year-text--selected, .react-datepicker__year-text--in-selecting-range, .react-datepicker__year-text--in-range {
  background-color: var(--primary);
}

.react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range,
.react-datepicker__day--in-selecting-range:hover, .react-datepicker__day--in-range:hover {
  background-color: var(--primary);
  color: #fff
}

.react-datepicker__month--selecting-range .react-datepicker__day--in-range:not(.react-datepicker__day--in-selecting-range, .react-datepicker__month-text--in-selecting-range, .react-datepicker__quarter-text--in-selecting-range, .react-datepicker__year-text--in-selecting-range) {
  background-color: var(--primary);
  color: #fff
}

.react-datepicker__day--disabled {
  color: var(--black-300) !important;
}

.form-input-date {
  width: 100px;
  border: 1px solid var(--black-100);
  border-radius: 5px;
  padding: 4px 8px;
  text-align: center;
  background-color: transparent;
  color: var(--black-700);
  &.form-task {
    border-radius: 100px;
    border: 1px solid var(--black-25);
  }
}